extends layout

block content
    div.spacer-md
    #board-wrapper
        #board
        .spacer-xs
        #info.text-sm
            .player.one
                .tile.faux
                .name.text-bold
                    input(type="text", for="playerOne", maxlength="15", size="10", value="player one")
            .player.two
                .tile.faux
                .name.text-bold
                    input(type="text", for="playerTwo", maxlength="15", size="10", value="player two")

            div

            .player.new-game
                .button.tile.faux
                    div !
                .name.text-bold new game
    #overlay-bg
    #message
        .title
        .new-game
            .button.tile.faux
                div !
            .text new game

    script#tile-template(type='text/template')
        <div id='tileX<%-x%>Y<%-y%>' class="tile <%- x == 0 ? 'nth-tile' : "" %>" ></div>
