extends layout

block content
    h1 tic tac toe
    #board-wrapper
        #board
        .clearfix
        #info
            .player.one.left
                .tile.faux
                .name player one
            .player.two.right
                .tile.faux
                .name player two
            .player.new-game
                .button.tile.faux
                    div !
                .name new game
    #overlay-bg
    #message
        .title
        .new-game
            .button.tile.faux
                div !
            .text new game

    script#tile-template(type='text/template')
        <div id='tileX<%-x%>Y<%-y%>' class="tile <%- x == 0 ? 'nth-tile' : "" %>" ></div>
