extends layout

block content
    div.spacer-xl

    img.bg-image(src="public/images/screenshot.png")

    #info.text-sm
        a.player.new-game(href="/game/")
            .button.tile.faux
                div !
            .name play!

        .spacer-sm

        a.player.new-game(toggle-on-click="#instr")
            .button.tile.faux
                div ?
            .name how can i play online?

        .spacer-sm

        div#instr.hidden
            ul.text-xs
                li 1. click "play!"
                    .spacer-md
                li 2. copy the URL
                    .spacer-md
                li 3. change player names by clicking on text
                    .spacer-md
                li 4. send the link to a friend
                    .spacer-md
                li 5. have fun!
                    .spacer-lg


        a.player.new-game(href="https://github.com/whroman/tictactoe-node")
            .button.tile.faux
                div /
            - text = "<source code>"
            .name #{text}