doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title Spec Runner - Jasmine v2.0.1
    link(rel="stylesheet", type="text/css", href="/public/bower_components/jasmine/lib/jasmine-core/jasmine.css")
    //- jasmine
    script(type="text/javascript", src="/public/bower_components/jasmine/lib/jasmine-core/jasmine.js")
    script(type="text/javascript", src="/public/bower_components/jasmine/lib/jasmine-core/jasmine-html.js")
    script(type="text/javascript", src="/public/bower_components/jasmine/lib/jasmine-core/boot.js")
    //- jquery
    script(type="text/javascript", src="/public/bower_components/jquery/dist/jquery.js")
    //- jasmine-jquery
    //- script(type="text/javascript", src="/public/bower_components/jasmine-jquery/lib/jasmine-jquery.js")
    //- source files
    script(type="text/javascript", src="/public/build/build.js")
    //- spec files
    script(type="text/javascript", src="/spec/public/e2e.js")
    //- script(type="text/javascript", src="modules/layout/centerChildSpec.js")
  body