@import "reset";
@import "text";
@import "spacer";

$orange: #FF8822;
$green: #21D330;
$gray-dark: #555555;
$gray-md: #999999;
$white: #FFF;

body {
    min-width: 600px;
    margin: 0;
    font-weight: 200;
    font-family: "helvetica neue", arial, sans-serif;
    letter-spacing: 0.05em;
    font-size: 16px;
}

.bg-image {
    position: absolute;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    top: 150px;
    z-index: -1;
    opacity: 0.1;
}

.left {
    float: left;
}

.right {
    float: right;
}

#page {
    width: 100%;
    height: 100%;
    text-align: center;
}

.tile {
    float: left;
    width: 90px;
    height: 90px;
    border: 10px solid $gray-md;
    background-color: $white;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-radius: 100%;

    &:hover {
        border-color: $gray-dark;
    }

    &.one {
        background-color: $green;
    }

    &.two { 
        background-color: $orange;
    }
    
    &.nth-tile {
        clear: both;
    }

    &.faux {
        width: 45px;
        height: 45px;
        cursor: default;
    }
}

.button.tile.faux {
    color: $white;
    text-align: center;
    line-height: 45px;
    font-size: 40px;
    font-weight: 500;
    cursor: pointer;
}

#board-wrapper {
    &.one {
        .tile:not(.one):not(.two):not(.faux):hover {
            border-color: $green;
        }

        .player.one .tile.faux {
            background-color: $green;
        }
    }

    &.two {
        .tile:not(.one):not(.two):not(.faux):hover {
            border-color: $orange;
        }

        .player.two .tile.faux {
            background-color: $orange;
        }
    }
}

#board {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 12px;
}

#info {
    clear: both;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 40px;
    width: 520px;
}

.player {
    display: inline-block;
    text-align: center;

    .name {
        line-height: 80px;
        float: left;
        display: inline-block;
        margin: 0 10px;
        color: $gray-dark;
        font-weight: 800;
        overflow: visible;

        input {
            border-width: 0 0.7em;
            border-style: solid;
            border-color: transparent;
            line-height: 2em;
            box-sizing: border-box;
        }
    }
}

#overlay-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
    display: none;
    cursor: pointer;

    &.show {
        display: inline-block;
    }
}

#message {
    color: #000;
    background-color: rgba(255,255,255,0.9);
    border-radius: 16px;
    padding: 8px 18px;
    font-weight: 200;
    top: 12%;
    position: absolute;
    z-index: 2;
    display: none;
    width: 400px;
    left: 50%;
    margin-left: -218px;

    &.show {
        display: inline-block;
    }

    .text {
        display: inline-block;
        line-height: 80px;
        font-size: 32px;
        color: $gray-md
    }

    .title {
        line-height: 1.5em;
        font-size: 40px;
    }
}

.new-game {
    display: inline-block;
    cursor: pointer;
}

.new-game:hover * {
    color: $gray-dark;
    border-color: $gray-dark;
}

.clearfix {
    width: 100%;
}