.text-xs {
    font-size: 18px;
}

.text-sm {
    font-size: 24px;
}

.text-md {
    font-size: 30px;
}

.text-lg {
    font-size: 40px;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: 800;
}